@import url("https://fonts.googleapis.com/css2?family=Murecho:wght@400&family=Poppins:wght@400;500;600&family=Quicksand:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  z-index: 4;
  height: 45px;
  width: 42px;
  background: crimson;
  right: 30px;
  bottom: 30px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  opacity: 1;
  pointer-events: auto;
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  z-index: 3;
}
.navbar.sticky {
  padding: 15px 0;
  background: crimson;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: crimson;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: #fff;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: crimson;
}
.navbar.sticky .menu li a:hover {
  color: #252934;
}

/* animation (home page) styling */
/* .animation-home {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #252934;
}
.animation-box div {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 4px solid;
  border-radius: 100%;
}
.animation-box div:nth-child(1) {
  top: 12%;
  left: 42%;
  border-color: lightcoral;
  animation: animate 9.2s linear infinite;
}
.animation-box div:nth-child(2) {
  top: 90%;
  left: 40%;
  border-color: lightcyan;
  animation: animate 5.9s linear infinite;
}
.animation-box div:nth-child(3) {
  top: 17%;
  left: 6%;
  border-color: lightgray;
  animation: animate 9s linear infinite;
}
.animation-box div:nth-child(4) {
  top: 20%;
  left: 55%;
  border-color: lightpink;
  animation: animate 4.6s linear infinite;
}
.animation-box div:nth-child(5) {
  top: 76%;
  left: 10%;
  border-color: lightsalmon;
  animation: animate 6.9s linear infinite;
}
.animation-box div:nth-child(6) {
  top: 80%;
  left: 60%;
  border-color: lightseagreen;
  animation: animate 8.4s linear infinite;
}
.animation-box div:nth-child(7) {
  top: 60%;
  left: 80%;
  border-color: lightskyblue;
  animation: animate 5.7s linear infinite;
}
.animation-box div:nth-child(8) {
  top: 32%;
  left: 25%;
  border-color: lightslategray;
  animation: animate 6.3s linear infinite;
}
.animation-box div:nth-child(9) {
  top: 95%;
  left: 10%;
  border-color: lightsteelblue;
  animation: animate 13.2s linear infinite;
}
.animation-box div:nth-child(10) {
  top: 20%;
  left: 85%;
  border-color: lightyellow;
  animation: animate 7.7s linear infinite;
}
.animation-box div:nth-child(11) {
  top: 90%;
  left: 90%;
  border-color: linen;
  animation: animate 12s linear infinite;
}
.animation-box div:nth-child(12) {
  top: 40%;
  left: 63%;
  border-color: lavender;
  animation: animate 10.2s linear infinite;
}
@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 0;
  }
  100% {
    transform: scale(1.7) translateY(-200px);
    opacity: 1;
  }
} */

/* home section styling */
.home {
  display: flex;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  width: 100%;
  display: flex;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: crimson;
  font-weight: 500;
}

/* similar styling */
section {
  position: relative;
  padding: 100px 0;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 80px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}
section .title::after {
  color: crimson;
  position: absolute;
  bottom: -11px;
  left: 50%;
  font-size: 18px;
  font-weight: 550;
  padding: 5px;
  background: #fff;
  transform: translateX(-50%);
}
.about,
.portfolio,
.blogs,
.contact {
  font-family: "Poppins", sans-serif;
}
.about .about-content,
.portfolio .port-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* about section styling */
.about .title::after {
  content: "hello world!";
}
.about .about-content .column {
  width: calc(50% - 30px);
}
.about .about-content .left .profile {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 450px;
  width: 375px;
  object-fit: cover;
  border-radius: 15px;
}
.about .about-content .left .intro {
  margin-top: 40px;
}
.about .about-content .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}
.about .about-content .left .text span {
  color: crimson;
}
.about .about-content .left p {
  text-align: justify;
}
.about .button {
  display: flex;
  justify-content: center;
}
.about .button a {
  display: inline-flex;
  font-size: 20px;
  padding: 15px 30px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.about .cv {
  background: crimson;
  border: 2px solid crimson;
  margin-right: 5px;
}
.about .cv:hover {
  color: crimson;
  background: none;
}
.about .github {
  background: #171516;
  border: 2px solid #171516;
}
.about .github:hover {
  color: #171516;
  background: none;
}
.about .github span {
  max-height: 25px;
  max-width: 25px;
  margin-right: 5px;
}
.about .github span img {
  height: 95%;
  width: 95%;
  object-fit: fill;
}
.about .about-content .left .intro,
.about .about-content .right .languages,
.about .about-content .right .technologies {
  margin-bottom: 40px;
}
.about .about-content .right .languages .bars {
  margin-bottom: 15px;
}
.about .about-content .right .languages .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.about .about-content .right .languages .info span {
  font-weight: 500;
  font-size: 18px;
}
.about .about-content .right .languages .line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}
.about .about-content .right .languages .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: crimson;
}
.about-content .right .python::before {
  width: 75%;
}
.about-content .right .js::before {
  width: 70%;
}
.about-content .right .csharp::before {
  width: 65%;
}
.about-content .right .html::before {
  width: 65%;
}
.about-content .right .css::before {
  width: 55%;
}
.about-content .right .go::before {
  width: 50%;
}
.about-content .right .java::before {
  width: 50%;
}
.about .about-content .right .technologies img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  margin: 0 5px 5px 5px;
}

/* portfolio section styling */
.portfolio,
.contact {
  color: #fff;
  background: #252934;
}
.portfolio .title::before,
.contact .title::before {
  background: #fff;
}
.portfolio .title::after {
  background: #252934;
  content: "projects";
}
.portfolio .port-content .card {
  width: calc(33% - 10px);
  background: #252934;
  text-align: center;
  border-radius: 6px;
  padding: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.portfolio .port-content .card:hover {
  background: #222;
}
.portfolio .port-content .card .box {
  transition: all 0.3s ease;
}
.portfolio .port-content .card:hover .box {
  transform: scale(1.02);
}
.portfolio .port-content .card i {
  font-size: 70px;
  color: #fff;
  transition: color 0.3s ease;
}
.portfolio .port-content .card:hover i {
  color: crimson;
}
.portfolio .port-content .card .detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio .port-content .card .title {
  font-size: 22px;
  font-weight: 500;
  margin: 18px 0;
}
.portfolio .port-content .card .title::before {
  background: crimson;
}
.portfolio .port-content .card .title::after {
  content: "hover me!";
  font-size: 15px;
  width: 80px;
  transition: all 0.3s ease;
}
.portfolio .port-content .card:hover .title::after {
  background: #222;
  width: 90px;
}
.portfolio .port-content .card:hover .kinkhorn.title::after,
.portfolio .port-content .card:hover .learning-hub.title::after {
  content: "Q1&2 2021";
}
.portfolio .port-content .card:hover .hiewkao.title::after {
  content: "Q3&4 2020";
}
.portfolio .port-content .card:hover .kjs.title::after {
  content: "Q1&2 2020";
}
.portfolio .port-content .card:hover .blnt-tree.title::after {
  content: "Q3&4 2019";
}
.portfolio .port-content .card:hover .blnt-piano.title::after {
  content: "Q1&2 2019";
}
.portfolio .port-content .card:hover .cca.title::after {
  content: "Q3&4 2018";
}
.portfolio .port-content .card p {
  font-size: 14px;
}
.portfolio .port-content .card .project-btn {
  display: none;
  margin-top: 13px;
  justify-content: space-around;
  transition: all 0.3s ease;
}
.portfolio .port-content .card .project-btn a {
  display: block;
  color: #fff;
  background-color: rgb(59, 59, 59);
  border: rgb(59, 59, 59);
  border-radius: 6px;
  width: 100px;
  font-size: 14px;
  padding: 8px 0;
  transition: all 0.3s ease;
}
.portfolio .port-content .card .project-btn a:hover {
  background-color: crimson;
  border: crimson;
  transform: scale(1.1);
}
.portfolio .port-content .card:hover .project-btn {
  display: flex;
}
/* blogs section styling */
.blogs .title::after {
  content: "readme.md";
}
.blogs .header {
  font-family: "Murecho", sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 45px;
}
.blogs .carousel .card {
  color: #fff;
  background: #252934;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: left;
  border: 1px solid #252934;
  transition: all 0.3s ease;
}
.blogs .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 20px 0;
  transition: all 0.3s ease;
}
.blogs .carousel .card .text {
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
}
.blogs .carousel .card .date {
  font-size: 12px;
  font-weight: 300;
}
.blogs .carousel .card .bar {
  margin: 10px 0;
  background: lightskyblue;
  height: 3px;
  width: 75%;
}

.blogs .carousel .card p {
  font-size: 14px;
}
.blogs .carousel .card:hover .box {
  transform: scale(1.05);
}
.blogs .carousel .card:hover .bar {
  background: crimson;
}
.blogs .carousel .card i {
  font-size: 80px;
  color: #fff;
  transition: color 0.3s ease;
  margin-bottom: 15px;
}
.blogs .carousel .card:hover i {
  color: crimson;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #252934 !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 30px;
  border-radius: 17px;
}
.owl-dot.active,
.owl-dot:hover {
  background: #252934 !important;
}

/* contact section styling */
.contact .title::after {
  background: #252934;
  content: "reach out!";
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.contact .contact-content .left p {
  text-align: justify;
  margin-bottom: 30px;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row i {
  width: 30px;
  text-align: center;
  font-size: 25px;
  color: crimson;
}
.contact .contact-content .info .head {
  font-weight: 500;
}
.contact .contact-content .info .sub-title {
  color: lightcyan;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea {
  height: 200px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 7.5px;
}
.contact .right form .email {
  margin-left: 7.5px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}
.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button {
  height: 47px;
  width: 150px;
}
.contact .right form .button button {
  width: 100%;
  height: 100%;
  border: 2px solid crimson;
  background: crimson;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.contact .right form .button button:hover {
  color: crimson;
  background: none;
}

/* social-media section styling */
section.social-media {
  padding: 40px 0 !important;
}
.social-media {
  background: #1c242f;
}
.social-media .icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
.social-media .icon-container a div {
  display: flex;
  width: 50px;
  height: 50px;
  object-fit: cover;
  background-color: #262f38;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin: 0 15px;
  transition: all 0.3s ease;
}
.social-media .icon-container a div:hover {
  background-color: #fff;
  transform: scale(1.2);
}
.social-media .icon-container div img {
  width: 50%;
  height: 50%;
}
.social-media .text {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
}
.social-media .text span {
  color: crimson;
}

/* responsive media query start */
@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 400px;
    width: 325px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 950px) {
  .menu-btn {
    display: block;
    z-index: 3;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: 100%;
    top: 0;
    background: #111;
    text-align: center;
    padding: 80px 0;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }
  section {
    padding: 70px 0;
  }
  section.contact,
  section.about {
    scroll-margin-top: 30px;
  }
  section.social-media {
    padding: 25px 0 !important;
  }
  section .title {
    margin-bottom: 60px;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left .profile {
    height: 350px;
    width: 325px;
    margin-bottom: 30px;
  }
  .about .about-content .left .intro {
    margin-top: 30px;
  }
  .about .about-content .left .intro,
  .about .about-content .right .languages {
    margin-bottom: 30px;
  }
  .portfolio .port-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
  .contact .contact-content .column {
    width: 100%;
  }
  .contact .contact-content .left {
    margin-bottom: 30px;
  }
  .contact .contact-content .left p {
    margin-bottom: 20px;
  }
  .social-media .icon-container {
    margin-bottom: 20px;
  }
  .social-media .icon-container a div {
    width: 40px;
    height: 40px;
    margin: 0 10px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .home-content .text-2 {
    font-size: 60px;
  }
  .home .home-content .text-3 {
    font-size: 32px;
  }
}

@media (max-width: 589px) {
  .blogs .carousel .card {
    text-align: center;
  }
  .blogs .carousel .card .box {
    align-items: center;
  }
  .blogs .carousel .card .separate-bar {
    margin: 20px;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }
  .home .home-content .text-3 {
    font-size: 27px;
  }
  .about .button a {
    font-size: 16px;
    padding: 10px 25px;
  }
  .portfolio .port-content .card {
    width: 100%;
  }
}

/* CURVE styling */
body,
html {
  overflow-x: hidden;
}
/* These sections are affected by curve */
section.about {
  padding-bottom: 200px;
}
section.portfolio,
section.blogs {
  padding: 200px 0;
}
.curve,
.curve-flipped {
  position: absolute;
  height: 200px;
  width: 100%;
  bottom: 0;
}
.curve::before,
.curve-flipped::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #252934;
}
.curve::after,
.curve-flipped::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
}
.curve::before,
.curve-flipped::before {
  transform: translate(85%, 60%);
}
.curve::after,
.curve-flipped::after {
  transform: translate(-4%, 40%);
}

/* add curve ontop of contact header */
.blogs.contact-curve .carousel {
  /* Add extra margin-bottom to avoid the curve */
  margin-bottom: 100px;
}
.blogs.contact-curve::after {
  content: "";
  border-top-left-radius: 60% 100%;
  border-top-right-radius: 60% 100%;
  position: absolute;
  height: 25%;
  width: 100%;
  background-color: #252934;
  z-index: -1;
}
.contact.contact-curve {
  /* Make contact part reach to the top of the section */
  padding-top: 0;
  /* For navigation, prevent navigation bar overlap the title */
  scroll-margin-top: 200px;
}

@media (max-width: 950px) {
  section.about {
    padding-bottom: 150px;
  }
  section.portfolio {
    padding: 150px 0;
  }
  section.blogs {
    padding: 150px 0 70px 0;
  }
  .curve,
  .curve-flipped {
    height: 150px;
  }
}

@media (max-width: 690px) {
  section.about {
    padding-bottom: 100px;
  }
  section.portfolio {
    padding: 100px 0;
  }
  section.blogs {
    padding-top: 100px;
  }
  .curve,
  .curve-flipped {
    height: 100px;
  }
}
